body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 10%;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

.dwn-btn {
    margin: 5% 3% 5% 0;
    font-family: 'Montserrat-Light';
}

/* Phone */
.phone-img {
    width: 12%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;

}

.phone-img:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

@media (max-width : 1028px) {

    #title {
        text-align: center;
    }

    .phone-img {
        width: 40%;
        position: static;
        transform: rotate(0);

    }
}


/* Features Layer */

#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

.feature {
    text-align: center;
}

.feature-heading {
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

.feature-icon {
    color: #ef8172;
    margin: 5% 0 5% 0;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    padding: 7% 10%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 2% 10%;
}

.press-img {
    width: 15%;
    margin: 20px 20px;
}

.press-img:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

/* Pricing */

#pricing {
    padding: 2% 10%;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.pricing-header {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    line-height: 1.5;
}

.pricing-btn {
    font-family: 'Montserrat-Light';
}

/* cta */

#cta {
    padding: 7% 15%;
    text-align: center; 
    background-color: #ef8172;    
}

.cta-heading {
    color: #fff;
    font-size: 3rem;   
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 7% 15%;
    text-align: center; 
    background-color: #fff; 
}

.footer-txt {
    font-family: 'Montserrat-Light';
}
.footer-icon {
    margin: 20px 10px;
}