body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {    
    font-size: 3rem;
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 10%;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}